<launch>
  <!-- group everything under /pez -->
  <group ns="pez">
  <!-- load params under that same group -->
  <rosparam file="$(find pez)/config/joystick_params.yaml"
            command="load"
            ns="joy_controller"/>
    <node pkg="joy" type="joy_node" name="joy_node" output="screen">
      <param name="dev"             value="/dev/input/js0"/>
    <param name="deadzone"        value="0.05"/>
    <param name="autorepeat_rate" value="20"/>
    </node>
    <node pkg="pez" type="pez_services.py" name="pez_services" output="screen"/>
    <node pkg="pez" type="pez_joy.py" name="joy_controller" output="screen"/>
    
  </group>
</launch>
