# File: config/host_comms.yaml
ros__parameters:
  # 1) Serial port for host side
  modem_io:
    port: '/dev/ttyUSB0' #
    baud: 9600
    timeout: 2

  # 2) Teleop axes (used by legacy A_NORMAL)
  x: 0.0
  y: 0.0
  z: 0.0

  schedules: []
  triggers:   []   # all other logic in plugin
  publishers: []
  services:   []

  # 4) Plugin: handles both AB and 40-bit modes
  plugins:
    - module: pez_comms.plugins.host_side
      config:
        mode:            '40'           # 'AB' or '40'
        packet_a:        0xA
        packet_b:        0x0B
        packet_40:       0x04
        topic_cmd_vel:   cmd_vel
        topic_camera:    camera_control
        services:
          "0": teleoperation/swim
          "1": teleoperation/toggle_magnet
          "2": teleoperation/toggle_neutral
        camera_svc_id:   3
        broadcast_rate:  1.0            # Hz for legacy A_NORMAL
        ack_timeout:     6.0            # secs to wait for Packet B
        svc_wait:        10.0            # secs to wait for fish ACK
